{% include 'bhead.html'%}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5 p-5">
      <form action="addDonor1" method="post">
        <input type="hidden" name="campaign_id" value="{{campaign_id}}">
        <div class="text-center h4">Add Donor</div>
        <div class="mt-3">
          <label for="donorname" class="form-label">Donor Name</label>
          <input type="text" name="donorname" id="donorname" placeholder="Enter Name" required class="form-control">
        </div>
        <div class="mt-3">
          <label for="phoneno" class="form-label">Phone Number</label>
          <input type="number" name="phoneno" id="phoneno" placeholder="Enter Phone Number" required class="form-control">
        </div>
        <div class="mt-3">
          <label for="bloodGroup">Blood Group</label>
          <select name="bloodGroup" id="bloodGroup" required class="form-control">
            <option value="">Blood Group</option>
            <option value="O Positive">O+</option>
            <option value="A Positive">A+</option>
            <option value="B Positive">B+</option>
            <option value="AB Positive">AB+</option>
            <option value="O Negative">O-</option>
            <option value="A Negative">A-</option>
            <option value="B Negative">B-</option>
            <option value="AB Negative">AB-</option>
          </select>
        </div>
        <div class="mt-3">
          <label for="blood_Unit_Number" class="form-label">Blood Unit Number</label>
          <input type="number" name="blood_Unit_Number" id="blood_Unit_Number" placeholder="Enter Blood Unit Number" required class="form-control">
        </div>
        <div class="mt-3">
          <input type="submit" value="Add Donor" class="btn btn-success w-100">
        </div>
      </form>
    </div>
  </div>
</div>